 /* imported google font css style link */
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
#content {
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Actor', sans-serif;
	background-color: #e6ffff;
}
.leftcol, .rightcol {
	max-width: 48%;
	flex: 1 0 15em;
	margin: .5em;
}
h1, h2, h3, h4, h5, h6 {
	color: #004e4e;
	text-align: center;
	font-family: 'Kalam', cursive;
	font-size: 2em;
	padding: 10px;
	line-height: 1em;
}
p {
	padding: 10px;
	font-size: 1.5em;
	line-height: 1.4em;
	color: #007979;
}
nav {
	background-color: #006666;
	padding: 1em;
	margin-top: -105px;
}
nav li {
	font-family: 'Actor', sans-serif;
	font-size: 1.5em;
	display: inline-block;	
	padding-left: 150px;
	list-style-type: none;
}
nav a {
	padding: .75em .65em;
	line-height: 3em;
	color: white;
	text-decoration: none;
}
nav a:hover {
	background-color: #009999;
	color: #99ffff;
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}
nav ul { 
	margin: 0; 
}
#sec1, #sec2, footer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
#sec2, footer {
	background-color: #006666;
}
#sec3 {
	text-align: center;
}
.pspec {
	font-style: italic;
	color: #b9eaea;
}
img {
	max-width: 100%;
}
#logo {
	position: relative;
	left: 10px;
	top: 10px;
	background-color:  #009999;
	border: #333333 1px solid;
	width: 125px;
	height: 100px;
	border-radius: 5px;	
	box-shadow: 5px 5px 5px black;
}
.banner {
	width: 100%;
	border-radius: 0 0 5px 5px;
}
#img1, #img2 {
	width: 100%;
	height: 400px;
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}
#info {
	color: #b9eaea;
	font-size: 25px;
	padding: 10px;
}
.socialmedia {
	padding: 20px;
	float: right;
}
.icon {
	width: 75px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

